<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996802332043-96rmfnma24s80243bohpvake0qeeh41k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996802332043-96rmfnma24s80243bohpvake0qeeh41k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>996802332043-ptjbt22a4i39ilhojm2mag6rlenjtjme.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB4Kw4ySlwgjijimG6uq9fVKMAd5aIG3yc</string>
	<key>GCM_SENDER_ID</key>
	<string>996802332043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.BlogApp</string>
	<key>PROJECT_ID</key>
	<string>blog-app-7e2a8</string>
	<key>STORAGE_BUCKET</key>
	<string>blog-app-7e2a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996802332043:ios:b3d050ade0451ca1071b8e</string>
	<key>DATABASE_URL</key>
	<string>https://blog-app-7e2a8.firebaseio.com</string>
</dict>
</plist>